<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Câmera</title>
    <link rel="stylesheet" th:href="@{/css/editar.css}">
    <link rel="stylesheet" th:href="@{/css/components/header.css}">
    <link rel="stylesheet" th:href="@{/css/components/footer.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
</head>
<body>
<div th:replace="~{components/header :: header}"></div>

<main>
    <h2>Editar Câmera</h2>
    <form th:action="@{'/cameras/editar/' + ${camera.idCamera}}"
          method="post"
          th:object="${camera}">

        <label for="statusOperacional">Status Operacional</label>
		<select id="statusOperacional" th:field="*{statusOperacional}" name="statusOperacional" required>
		    <option value="Online" th:selected="${camera.statusOperacional == 'Online'}">Online</option>
		    <option value="Offline" th:selected="${camera.statusOperacional == 'Offline'}">Offline</option>
		    <option value="Em Manutenção" th:selected="${camera.statusOperacional == 'Em Manutenção'}">Em Manutenção</option>
		</select>

        <label for="localizacaoFisica">Localização Física</label>
        <input id="localizacaoFisica" type="text" th:field="*{localizacaoFisica}" name="localizacaoFisica" required maxlength="255">

        <label for="patio">Pátio</label>
        <select id="patio" th:field="*{patio.idPatio}" name="patio.idPatio" required>
            <option th:each="patio : ${patios}"
                    th:value="${patio.idPatio}"
                    th:text="${patio.nome}"
                    th:selected="${camera.patio.idPatio == patio.idPatio}"></option>
        </select>

        <button type="submit" class="save">Salvar Alterações</button>
        <a th:href="@{/cameras/listar}" class="button cancel">Cancelar</a>
    </form>
</main>

<div th:replace="~{components/footer :: footer}"></div>
</body>
</html>
