<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Funcionário</title>
    <link rel="stylesheet" th:href="@{/css/editar.css}">
    <link rel="stylesheet" th:href="@{/css/components/header.css}">
    <link rel="stylesheet" th:href="@{/css/components/footer.css}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
</head>
<body>
<div th:replace="~{components/header :: header}"></div>
<main>
    <h2>Editar Funcionário</h2>
    <form th:action="@{'/funcionarios/editar/' + ${funcionario.id_funcionario}}"
          method="post"
          th:object="${funcionario}">
        
        <label for="nome">Nome</label>
        <input id="nome" type="text" th:field="*{nome}" name="nome" placeholder="Nome" required>

        <label for="cpf">CPF</label>
        <input id="cpf" type="text" th:field="*{cpf}" name="cpf" placeholder="CPF" required>

        <label for="email">Email</label>
        <input id="email" type="email" th:field="*{email}" name="email" placeholder="Email" required>

        <label for="telefone">Telefone</label>
        <input id="telefone" type="text" th:field="*{telefone}" name="telefone" placeholder="Telefone">

        <label for="senha">Senha</label>
        <input id="senha" type="password" th:field="*{senha}" name="senha" placeholder="Senha (deixe em branco se não quiser alterar)">

        <label for="cargo">Cargo</label>
        <select id="cargo" th:field="*{cargo}" name="cargo">
            <option value="MECANICO" th:selected="${funcionario.cargo == 'MECANICO'}">Mecânico</option>
            <option value="GERENTE" th:selected="${funcionario.cargo == 'GERENTE'}">Gerente</option>
            <option value="ADMIN" th:selected="${funcionario.cargo == 'ADMIN'}">Admin</option>
        </select>

        <button type="submit" class="save">Salvar Alterações</button>
        <a th:href="@{/funcionarios/listar}" class="button cancel">Cancelar</a>
    </form>
</main>
<div th:replace="~{components/footer :: footer}"></div>
</body>
</html>
